.headerbox span {
    color: #0E0578;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
    position: relatative;
      display: flex;
      justify-content: start;
      top: 20px;
      left: 20px;
    }
    
    body {
      display: flex;
      font-family: 'Poppins', sans-serif;
      flex-direction: column;
      justify-content: space-between;
      padding: 45px 46px;
      background: white;
    }
    
    .hiremeOne {
    color: #686565;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    border: 0;
    background: 0;
      display: flex;
      
      align-items: flex-end;
    }
    
    .portfolio {
    color: #2000E7;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
    }
    
    .histeven {
    color: #2000E7;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
    }
    
    div span {
      color: #F2BD00;
    }
    
    .tip {
    color: #383838;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
    }
    
    .hiremeTwo {
    color: white;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    background-color: #2000E7;
    border-radius: 10px;
    border-color: #2000E7;
    padding: 18px 77px;
    }
    
    .myprojectbtn {
    border-color: #2000E7;
    border-radius: 10px;
    color: #2000E7;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    padding: 18px 66px;
    }
    
    .aboutme {
    color: #2000E7;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 16.80px;
    word-wrap: break-word;
    }
    
    .tipaboutme {
    color: black;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    padding-bottom: 46px;
       display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .Myprojecttip {
    color: #3B1FEA;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 9.60px;
    word-wrap: break-word;
     display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .Contactme {
    color: #220BE8;
    font-size: 64px;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 17.28px;
    word-wrap: break-word;
       display: flex;
    justify-content: center;
    align-items: center;
    }
    
    form {
    color: black;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
      display: flex;
      flex-direction: column;
    }
    
    .contact {
    color: black;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    background-color: white;
    border-color: white;
    }
    
    .UniDesignTwo {
    color: #0E0578;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 16.80px;
    word-wrap: break-word; 
    }
    
    .emailtext {
    background-color: black;
    color: white;
    font-size: 31px;
    font-family: Jost;
    font-weight: 700;
    word-wrap: break-word;
    }
    
    .bottom {
    color: black;
    font-size: 31px;
    font-family: Jost;
    font-weight: 700;
    word-wrap: break-word;
    padding-right: 1px;
    display: flex;
    flex-direction: colunm;
    justify-content: flex-end;
    list-style-type: none;
    }
    
    li {
    color: black;
    font-size: 31px;
    font-family: Jost;
    font-weight: 400;
    word-wrap: break-word;
      list-style-type: none;
    }
    
    a {
    color: black;
    font-size: 32px;
    font-family: Jost;
    font-weight: 400;
    word-wrap: break-word;  
    }
    
    .portfoliobox {
     padding-right: 915px;
     padding-bottom: 110px;
     padding-top: 200px;
    }
    
    .Subscribe {
    color: white;
    font-size: 31px;
    font-family: Jost;
    font-weight: 700;
    word-wrap: break-word;
    background-color: #F965FC;
    border-radius: 15px;
    }
    
    .headerbox {
    position: relatative;
      display: flex;
      justify-content: space-end;
    top: 20px;
    right: 20px; 
    }
    
    .buttonbox {
    padding-right: 850px;
    justify-content: space-between;
    }
    
    .aboutmebox {
    padding-top: 485px;
    padding-right: 970px;
    }
    
    .myprojectbox {
      justify-content: center;
      align-items: center;
      padding-top: 555px;
    }
    
    .myprojectbox img {
      width: 246px;
      height: 180px;
      padding-top: 46px;
      padding-left: 100px;
      padding-right: 100px;
    }
    
    .protfoliobox img {
      width: 546px;
      height: 546px;
      right: 100px;
      left: 1px;
      top: 1px;
    } 